html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  max-width: 1920px;
  text-align: center;
}

.home-page-hp {
  background-image: url("../src/assets/grapes-1659118_1920.jpg");
  background-size: auto;      
  background-position: center ; 
  background-repeat: no-repeat;
  min-height: 100vh;          
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 0;                 
  margin: 0;                  
}

.btn-hp {
  background-color: #3D1D3A; 
  color: white;
  border: 2px solid #3D1D3A;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;  
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  transition: background 0.3s;
}
.btn1-hp {
  background-color: #C6CC70; 
  color: Black;
   border: 2px solid #3D1D3A;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  border-top-left-radius: 10px;  
  border-bottom-left-radius: 10px; 
  border-top-right-radius: 0;    
  border-bottom-right-radius: 0;
  cursor: pointer;
  transition: background 0.3s;
}
.btn-hp:hover {
  background-color: #000000;
}
.btn1-hp:hover {
  background-color: #000000;
}
.bar-home-hp{
  background-color: #F8F1DE;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'Italianno';
  font-size: 64px;
}
.block-hp {
  background-color: #FFFAEE;
  width: calc(100% - 100px);   
  height: auto; 
  margin: 20px auto 50px auto;               
  border: 2px solid #634161;
  border-radius: 120px;
  display: flex;           
  flex-direction: column;   
  justify-content: center;  
  align-items: center;      
  font-family: 'Georgia';
  font-size: clamp(16px, 2vw, 40px);
  padding: 2rem;               
  box-sizing: border-box;      
}

.block-hp table{
  border-collapse: collapse;
  width: 100%;   
  max-width: 100%;
  table-layout: auto;
  margin: 0 auto; 
  font-family: 'Georgia', serif;
}
.block-hp td {
  width:auto;
  font-size: clamp(14px, 2vw, 2rem); 
  color: #3D1D3A;
  padding: 1rem 1rem;
}
.block-hp tbody tr:hover {
  background-color: #F8F1DE;
}
.table-title {
  color: #3D1D3A;          /* Ten sam fiolet co w Twoich przyciskach */
  font-family: 'Georgia', serif;
  font-size: 2.5rem;       /* Duży, czytelny napis */
  margin-bottom: 20px;     /* Odstęp od tabeli */
  width: 100%;             /* Żeby wyśrodkował się względem bloku */
  text-align: center;
}
.block-hp tbody tr {
  border-bottom: 2px solid #634161; /* fioletowa linia jak ramka bloku */
}

.block-hp tbody tr:last-child {
  border-bottom: none; /* żeby ostatni wiersz nie miał dodatkowej linii */
}
.btncircle {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  background-color: transparent; 
  border: 2px solid #3D1D3A;    
  color: #3D1D3A;

  width: 2em;
  height: 2em;

  font-size: 2rem; 
  font-weight: bold; 

  border-radius: 50%;
  cursor: pointer;

  transition: all 0.3s ease;
}
.btncircle:hover {
  background-color: #F8F1DE;
}
.btncircle span {
  display: inline-block;
  transform: scale(1.2); 
}
.btncircleUser {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent; 
  border: 2px solid #3D1D3A;    
  color: #3D1D3A;

  width: 2em;
  height: 2em;
  font-size: 2rem; 
  font-weight: bold; 

  border-radius: 50%;
  cursor: pointer;

  margin-left: auto;   
  margin-right: 20px; 
  transition: all 0.3s ease;
}