html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  max-width: 1920px;
  text-align: center;
}

.home-page-hp {
  background-image: url("../src/assets/grapes-1659118_1920.jpg");
  background-size: auto;      
  background-position: center ; 
  background-repeat: no-repeat;
  min-height: 100vh;          
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 0;                 
  margin: 0;                  
}

.btn-hp {
  background-color: #3D1D3A; 
  color: white;
  border: 2px solid #3D1D3A;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  border-top-left-radius: 0;  
  border-bottom-left-radius: 0; 
  border-top-right-radius: 10px;    
  border-bottom-right-radius: 10px;
  margin-right: 2px;
  cursor: pointer;
  transition: background 0.3s;
}
.btn1-hp {
  background-color: #C6CC70; 
  color: Black;
   border: 2px solid #3D1D3A;
  padding: 0.8rem 1rem;
  font-size: 1.2rem;
  border-top-left-radius: 10px;  
  border-bottom-left-radius: 10px; 
  border-top-right-radius: 0;    
  border-bottom-right-radius: 0;
  cursor: pointer;
  transition: background 0.3s;
}
.btn-hp:hover {
  background-color: #000000;
}
.btn1-hp:hover {
  background-color: #000000;
}
.bar-home-hp{
  background-color: #F8F1DE;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'Italianno';
  font-size: 64px;
}
.block-hp {
  background-color: #FFFAEE;
  width: calc(100% - 100px);   
  height: auto; 
  margin: 50px;               
  border: 2px solid #634161;
  border-radius: 120px;
  display: flex;
  justify-content: center;     
  align-items: center;         
  font-family: 'Georgia';
  font-size: 40px;
  padding: 2rem;               
  box-sizing: border-box;      
}